$background-color: rgb(5, 5, 5);
$background-color-fallback: rgba(0, 0, 0, 0.6);
.btn__primary {
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 14px;
  border: 1px solid;
  background: #496dc4;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: $background-color-fallback; /* Fallback color */
  background-color: $background-color-fallback; /* Black w/ opacity */
  padding: 20px;

  .modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: white;
    color: black;
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 2000;

    .modal__body {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .modal__product__details {
        flex-basis: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        .modal__product__item {
          flex-basis: 15%;
          width: 100%;
          text-align: center;
        }
        .modal__product__options {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .product__option {
            flex-basis: 49%;
            height: 46px;
            select {
              width: 100%;
              display: block;
              padding: 0 30px;
              height: 100%;
              text-align: center;
            }
          }
        }
        .product-title {
          font-weight: bold;
          font-size: 1.5rem;
        }
        .product-price {
          font-weight: bold;
          font-size: larger;
        }
      }

      .modal__product__image {
        flex-grow: 1;
        flex-basis: 30%;
        height: 100%;
        text-align: center;
        img {
          object-fit: contain;
          max-width: 100%;
        }
      }
    }
  }
  @media (min-width: 1000px) {
    padding: 150px 350px;
    .modal__content {
      flex-direction: row;
      .modal__body {
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 60px;
        .modal__product__details {
          flex-basis: 50%;
          justify-content: flex-end;
        }
        .modal__product__image {
          display: flex;
          flex-basis: 50%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
